@{
  Layout = "_Layout";
}

<h1>Add a new order to @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderTitle">Name</label>
  <input id="orderTitle" name="orderTitle" type="text" required>
  <label for="orderDescription">Description</label>
  <input id="orderDescription" name="orderDescription" type="text" required>
  <label for="orderPrice">Price</label>
  <input id="orderPrice" name="orderPrice" type="number" min="0" step="0.01" required>
  <button type="submit">Submit</button>
</form>